
/* ---- Homepage ---- */
body {
    font-weight: 100;
    background: rgb(255,255,255);
    background: linear-gradient(48deg, rgba(255,255,255,1) 0%, rgba(45,217,255,1) 100%);
    }

.navbar {
    width: auto;
    height: 70px;
}

.dropdown-menu {
    background: rgba(45,217,253,0.6)
}

.navbar-brand {
    font-size: 30px;
    font-weight: 400;
    }

.btn {
    /*background-color: rgba(214, 224, 44, 1);
    border-color: rgba(163, 172, 0, 1);*/
}

.jumbotron {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

/* header*/


/* ---- Login Card ---- */

#loginCard {
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
    height: 410px;
    width: 329px;
}

#card-row {

}

.card {
    margin: 10px, 10px, 10px, 10px;
}

#card-row .card {
    width: 250px;
    height: 350px;

}

#card-row .card-body {
    padding: 8px;
}

#largeCardImage {
    max-width: 500px;
    max-height: 750px;
}

#smallCardImage {
    max-width: 250px;
    max-height: 250px;
    width: auto;
    height: auto;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#collectionStats {
    font-color: black;
    font-weight: 700;
    z-index: 1;
    position: relative;
}



#collectionBanner {
    background-image ;
    position: absolute;
    box-sizing: border-box;
    margin: auto;
    display: block;
    width: 0px;
    height: 0px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    object fit: cover;
    opacity: 1;
}

#trendingImage {
    max-width: 60px;
    max-height: 60px;
    width: auto;
    height: auto;
    object-fit: contain;
    border-radius: 50%;
}

.card-text {
    font-family: 'Arial' ;
    font-size: 20px;
}

.nav-link {
    color: black;
}

.card-text {
    font-size: 15px;
}